@import "tailwindcss";

:root {
  --background: #EEF1F5;
  --foreground: #020408;
  --card-background: #F7FAFB;
  --text-primary: #020408;
  --text-secondary: #9C9C9E;
  --accent: #811DEC
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ibm-plex-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex-sans), Arial, Helvetica, sans-serif;
}
